.block-collections {
  overflow: hidden;
  padding-bottom: 50px;
}

.block-collections__list-item {
  width: 130px;
  padding: 10px 10px;
  margin: 0 15px;
  height: fit-content;
}



.block-collections__wrapper--center {
  display: flex;
  justify-content: center;
}

.block-collections__item {
  display: none;
}

.block-collections__item--active {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 20px;
  column-gap: 20px;
}

.block-collections__items {
  margin-top: 100px;
  margin-bottom: 100px;
}


@media screen and (min-width: 1000px) {
  .block-collections__item {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
}