.block-collections {
  overflow: hidden;
}

.block-collections__list-item {
  width: 130px;
  padding: 10px 10px;
}

.block-collections__list {
  display: flex;
  justify-content: center;
}

.block-collections .swiper-wrapper {
  width: fit-content;
}