.pagination-wrapper {
  margin-top: 4rem;
}

@media screen and (min-width: 990px) {
  .pagination-wrapper {
    margin-top: 5rem;
  }
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.pagination__list > li {
  flex: 1 0 2rem;
  max-width: fit-content;
}

.pagination__list > li:not(:last-child) {
  margin-right: 2rem;
}

.pagination__item {
  color: rgb(var(--color-foreground));
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 4.4rem;
  width: 100%;
  font-size: 1.8rem;
  padding: 0;
  text-decoration: none;
}

.pagination__item {
  color: #b2b2b2;
}

.pagination__item-arrow {
  width: fit-content;
  color: #000;
}

.pagination__item--next .icon {
  width: 12px;
  margin-left: 5px;
}

.pagination__item--prev .icon {
  width: 12px;
  margin-right: 5px;
}

.pagination__item--current {
  color: #000;
}

.pagination__item--disable {
  color: #b2b2b2;
  pointer-events: none;
}

.pagination__item .svg-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.pagination__item--current::after,
.pagination__item:hover::after {
  content: "";
  display: block;
  width: 2rem;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: currentColor;
}

.pagination__item--next .icon {
  margin-left: -0.2rem;
  transform: rotate(90deg);
}

.pagination__item--next:hover .icon {
  transform: rotate(90deg) scale(1.07);
}

.pagination__item--prev .icon {
  margin-right: -0.2rem;
  transform: rotate(-90deg);
}

.pagination__item--prev:hover .icon {
  transform: rotate(-90deg) scale(1.07);
}

.pagination__item-arrow:hover::after {
  display: none;
}
