.image-overwrite {
  display: flex;
  justify-content: center;
  background: transparent;
  position: relative;
}

.image-overwrite--image {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
   .image-overwrite {
     margin-top: 0;
   }
}