.slider-image__item-img {
  width: 100%;
  height: auto;
}

.slider-image__content {
   position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider-image .slider-image__wrapper {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
}

.slider-image .swiper-button-prev {
  display: block !important;
  position: relative;
}

.slider-image .swiper-button-next {
  display: block !important;
  position: relative;
}