.slider-image__item-img {
  width: 100%;
  height: auto;
}

.slider-image .slider-image__wrapper {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content
}

.slider-image .swiper-button-prev {
  display: block !important;
}