.slider-image__item-img {
  width: 100%;
  height: auto;
}

.slider-image__content {
   position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider-image .slider-image__wrapper {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
}

.slider-image .swiper-button-prev {
  display: flex !important;
  position: relative;
  color: #707070;
}

.slider-image .swiper-button-next {
  display: flex !important;
  position: relative;
  color: #707070;
}

@media screen and (min-width: 786px) {
  .slider-image .swiper-button-prev {
 width: 100px;
}

.slider-image .swiper-button-next {
 width: 100px;
}

}