.testimonial-icon-item--img {
 width: 5rem;
    height: 5rem;
    object-fit: contain;
  position: relative;
}

.testimonial-icon-item--img:after {
  content: '',
  left: -1rem;
  right: -1rem;
  bottom: -1rem;
  top: -1rem;
  border: 1px solid rgb(var(--color-foreground));
}

.testimonial-icon-swiper-item {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.testimonial-icon-swiper__wrapper-center {
  display: flex;
  justify-content: center;
}