.testimonial-icon-item--img {
 width: 5rem;
    height: 5rem;
    object-fit: contain;
  position: relative;
}

.testimonial-icon-item--img-wrapper {
  width: 7rem;
    height: 7rem;
   display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(var(--color-foreground));
  border-radius: 50%:
}

.testimonial-icon-swiper-item {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.testimonial-icon-swiper__wrapper-center {
  display: flex;
  justify-content: center;
}