.testimonial-image .banner__box {
  max-width: unset !important;
  overflow: hidden;
}

.testimonial-image-swiper__wrapper {
  padding-top: 3rem;
}

.testimonial-image-item--img {
  width: 28rem;
  object-fit: contain;
  position: relative;
}

.testimonial-image-item--img-wrapper {
  margin: 0 3rem;
}

.testimonial-image-swiper-item {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
}

.testimonial-image-swiper-item span {
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: 300;
  max-width: 211px;
  word-break: break-word;
}

.testimonial-image-swiper__wrapper-center {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .testimonial-image-item--img-wrapper {
    margin: 0 6rem;
  }

  .testimonial-image-swiper__wrapper {
    padding-top: 6rem;
  }

  .testimonial-image-swiper-item span {
    margin-top: 2rem;
    font-size: 2rem;
  }
}
