.testimonial-icon-item--img {
  width: 2rem;
  height: 2rem;
}

.testimonial-icon-swiper-item {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.testimonial-icon-swiper__wrapper-center {
  display: flex;
  justify-content: center;
}