.testimonial-icon .banner__box{
  max-width: unset !important;
  overflow: hidden;
}

.testimonial-icon-swiper__wrapper {
      padding-top: 2rem;
}


.testimonial-icon-item--img {
 width: 6rem;
    object-fit: contain;
  position: relative;
}

.testimonial-icon-swiper-item {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.testimonial-icon-swiper__wrapper-center {
  display: flex;
  justify-content: center;

}

@media screen and (min-width: 768px) {
  .testimonial-icon-item--img-wrapper {
  width: 7rem;
  height: 7rem;
  margin: 0 6rem;
}
}