.testimonial-icon-2 .banner__box{
  max-width: unset !important;
  overflow: hidden;
}

.testimonial-icon-2-swiper__wrapper {
      padding-top: 2rem;
}


.testimonial-icon-2-item--img {
 width: 6rem;
    object-fit: contain;
  position: relative;
}

.testimonial-icon-2-swiper-item {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.testimonial-icon-2-swiper__wrapper-center {
  display: flex;
  justify-content: center;

}

@media screen and (min-width: 768px) {
  .testimonial-icon-2-item--img-wrapper {
  margin: 0 6rem;
  }
}